@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Desenvolvedor</h1>
    <p class="lead">Teste Pático</p>
</div>
<div class="row">
    <div class="col-md-5"
    <p>
        Olá, nesse teste tentei passar o máximo de conhecimento e domínio possvível da linguagem do EntityFramework, SOLID, arquitetura DDD, IOC com o Ninject.
    </p>
    </div>
</div>
